* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.parent {
    
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
}

.child1 {
    height: 200px;
    width: 200px;
    background: rgb(39,65,125);
    border-radius: 80px;
}

.child2 {
    height: 200px;
    width: 200px;
    background: rgb(40,125,10);
    border-radius: 80px;
}

.child3 {
    height: 200px;
    width: 200px;
    background: rgb(180,70,30);
    border-radius: 80px;
}

img{
    width: 200px;
}
p{
    text-align: center;
    padding: 10px;
    color: gray;
}

.text{
    text-align: center;
    padding: 40px;
    color: rgb(17, 80, 161);
}

.panel{
    border: 100px solid rgb(104, 159, 190);
    height: 100vh;
}

.boton-parent{
    display: flex;
    justify-content: center;
    padding: 80px;
}

.boton-child{
    padding: 20px;
    border-radius: 20px;
}